{% extends 'base.html.twig' %}

{% block title %}Page des projets{% endblock %}

{% block body %}
    
    <div class="projets">
        {% for projet in projets %}

            <div class="projet" data-aos="zoom-in">
                <img src="{{asset('ressources/'~ projet.photo )}}" alt="Image libre de droit">
                <h2>{{ projet.titre }}</h2>
                <p>{{ projet.description }}</p>
                <a href="{{ path('projet_show', {'id': projet.id}) }}">Détail</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('projet_edit', {'id': projet.id}) }}">edit</a>
                {% endif %}
                
            </div>

        {% endfor %}
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('projet_new') }}">Create new</a>
    {% endif %}
{% endblock %}
