{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil
{% endblock %}

{% block body %}

	<div class="apropos" id="apropos">
		<h2>
			<strong>A propos de moi</strong>
		</h2>
		<img src="{{asset('ressources/PhotoProfil.jpg')}}" alt="Image libre de droit">
		<h2>
			<strong>Etudiant en licence professionelle développement internet et mobile.</strong>
		</h2>
		<p>Je m'appelle Max Pochet, j'ai 20 ans et j'habite à Calais. Titulaire du permis B, je peux donc me déplacer sur tout le littoral ou la région Lilloise.</p>
	</div>

	<div class="partie" id="education">
		<h2 class="formation" data-aos="zoom-in">
			<strong>Education</strong>
		</h2>
		<div class="education">
			<h2 class="formation" data-aos="zoom-in">Formations</h2>
			<div class="formations">
				<div class="formation" data-aos="zoom-in">
					<h3>licence pro DIM</h3>
					<h3>2021-2022</h3>
					<p>
						Je suis actuellement en licence professionelle développement internet et mobile à l'IUT de Calais. Cette licence m'a permis d'apprendre différents frameworks back et front. Mais aussi à faire des maquettes et de la conception.</p>
				</div>
				<div class="formation" data-aos="zoom-in">
					<h3>DUT informatique</h3>
					<h3>2019-2021</h3>
					<p>Obtention de mon DUT grâce auquel j'ai pu apprendre la programmation aussi bien objet, que de site web. Mais aussi les fondamentaux du réseau, des bases de données et de la gestion de projet. J'ai effectué ma première année en formation initiale et la seconde en alternance.</p>
				</div>
			</div>
			<h2 data-aos="zoom-in">Diplomes</h2>
			<div class="diplomes">
				<div class="diplome" data-aos="zoom-in">
					<h3>Baccalaureat</h3>
					<h3>Juillet 2019</h3>
					<p>Obtention du Baccalaureat avec mention assez bien et mention européenne</p>
				</div>
				<div class="diplome" data-aos="zoom-in">
					<h3>IGCSE</h3>
					<h3>Mars 2019</h3>
					<p>Diplome equivalent au brevet des colleges anglais de Cambridge</p>
				</div>
			</div>
		</div>
	</div>

	<div class="partie" id="competences">
		<h2 class="formation" data-aos="zoom-in">
			<strong>Compétences informatiques</strong>
		</h2>
		<div class="competences">
			{% for competence in competences %}

				<div class="competence" data-aos="zoom-in">
					{# {{ competence.id }} #}
					{% if competence.fontawesome is null %}
						<img src="{{asset('ressources/'~ competence.img )}}" alt="">
					{% elseif competence.img is null %}
						<i style="color:{{ competence.color }}" class="{{ competence.fontawesome }}"></i>
					{% endif %}
					<p>{{ competence.langage }}</p>
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('competences_show', {'id': competence.id}) }}">show</a>
						<a href="{{ path('competences_edit', {'id': competence.id}) }}">edit</a>
					{% endif %}
					
				</div>
            {% endfor %}
		</div>
	</div>

	<div class="partie" id="expPro">
		<h2 class="formation" data-aos="zoom-in">
			<strong>Expériences professionnelles</strong>
		</h2>
        <div class="expPros">
            <div class="expPro" data-aos="zoom-in">
                <h3>Alternance Graftech.</h3>
                <h3>Septemnbre 2020-Août 2021</h3>
                <p>
                    J'ai effectué ma deuxième année de DUT informatique chez Graftech S.N.C en alternance. Je faisais principalement du traitement de données mais j'ai aussi fait un peu d'ASPX.
                </p>
            </div>
            <div class="expPro" data-aos="zoom-in">
                <h3>Contrat saisonnier Carrefour Market Ardres.</h3>
                <h3>Mars 2020</h3>
                <p>Travail en tant qu'employé libre service au Carrefour Market de Ardres. Je faisais de la mise en rayon et du facing.</p>
            </div>
            <div class="expPro" data-aos="zoom-in">
                <h3>Job d'été à la SEPD.</h3>
                <h3>Août 2019</h3>
                <p>Travail en tant qu'agent d'exploitation pour le port de Calais. Mon travail consistait à ammarer les bateaux puis faire la circulation pour que les voitures et les camions puissent entrer ou sortir du ferry. Je gerais aussi la pacerelle qui permettait de faire le passage des vehicules dans le bateau.</p>
            </div>
            <div class="expPro" data-aos="zoom-in">
                <h3>Job d'été aux Ateliers du channel.</h3>
                <h3>Août 2018</h3>
                <p>Travail dans une ESAT (établissement social d'aide au travail) avec des personnes en situation d'handicap. Mon travaille consistait à reconditionner des bobinnes de fibre optique et les nettoyer.</p>
            </div>
        </div>
	</div>


	
	<div class="partie" id="loisirs">
		<h2>Mes Loisirs</h2>
		<div class="loisirsMax">
			<div class="loisir" data-aos="zoom-in">
				<img src="{{asset('./ressources/PhotoPAV.jpg')}}" alt="Image libre de droit">
				<h2>Planche à voile</h2>
				<p>Je pratique la planche à voile depuis l'âge de 11 ans, grâce à ce sport, j'ai pu voyager dans tout l'Europe notamment par le biai de diverses championnats. J'ai participé aux championnats du monde, d'Europe et de France. J'ai aussi fait parti de la section planche à voile de mon lycée avec laquelle nous avons fini 2 ème au championnat de France UNSS 2018.</p>
			</div>
			<div class="loisir" data-aos="zoom-in">
				<img src="{{asset('./ressources/PhotoTrombone.jpg')}}" alt="Image libre de droit">
				<h2>Trombone à coulisse</h2>
				<p>Je joue du trombone à coulisse depuis que j'ai 6 ans, cet instrument m'a beaucoup appris sur la rigueur et sur les différents styles musicaux. J'ai fait parti de différents orchestre et bandes, mais j'ai aussi participé à l'option musique de mon lycée de la première à la terminale.</p>
			</div>
		</div>
	</div>

{% endblock %}
